// 边框隔离
$width: 90%;
// $padding: 0.1875rem;
$margin: 0 0.2rem;
$padding: 0.2rem;
// 边框色
$border: #acacac;
// 部件背景
$background: #f7f7f7;
// 字体颜色
$black: #000;
$grey: #989898; // 字
$darkgrey: #a0a0a0; // 图标
$red: #FF0045;
// font-size
$title: .4rem;
$small-title: .18rem;
$detail: .14rem;
$xs: .12rem;